
<header class="main-header">
  <style>
    .banner {
      background: var(--mdc-theme-primary,#6200ee);
      color: white;
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    .banner a {
      color: white;
    }
  </style>
  <div class="banner col-12 center py2 mb2">
    <span class="px2 caps">Update Available</span>
    <span>Check out our 2024.2 release video on <a href="https://www.youtube.com/watch?v=tM8AGtF9wrA" target="_blank" rel="noopener">Youtube</a></span>
  </div>
  <nav class="flex items-center pt2 justify-between flex-wrap" aria-label="main navigation">
    <a href="{{ "/" | relLangURL }}" class="main-logo mr1 block">
      <img src="{{ print "images/" .Site.Params.logo | absURL }}" alt="os-aps logo" class="block">
    </a>
    <div class="flex items-center flex-wrap">
      {{ range .Site.Menus.main }}
        {{ if eq (hasPrefix .URL "mailto:") true }}
          <a href="{{ .URL }}" class="mdc-button {{ .Params.class }}">{{ .Name }}</a>
        {{ else }}
          <a href="{{ .URL | relLangURL }}" class="mdc-button {{ .Params.class }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
      <a href="https://twitter.com/os_aps" title="Twitter" class="ml2 gitlab-logo" target="_blank" rel="noopener">
        <img src="{{ print "images/" .Site.Params.logo_twitter | absURL }}" alt="Twitter logo" class="block">
      </a>
    </div>
    
  </nav>
</header>